 
.no-scroll {
    overflow: hidden;
 }

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90deg, #220133, #1cac8d); */
    background-color: #0E0F0F;
    z-index: 9999;
  }

  
  
  
  .spinner {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: text-color 4s ease-in-out infinite alternate;
    font-family: 'Poppins', sans-serif;
  }
  
  .spinner #loadingText {
    animation: scale-in-out 4s ease-in-out infinite alternate;
}
  

.spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
    pointer-events: none;
  }
  
  .spinner-sector-red {
    border-top-color: #fb7b8e !important;
    --duration: 2000ms;
    --timing: ease-in-out;
  }
  
  .spinner-sector-blue {
    border-left-color: #56c596 !important;
    --duration: 2500ms;
    --timing: ease-in;
  }
  
  .spinner-sector-green {
    border-right-color: #cff4d2 !important;
    --duration: 3000ms;
    --timing: ease-out;
  }
  
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes text-color {
    0% {
      color: #fff;
    }
  
    40% {
      color: #888888cc;
    }
  
    60%{
        color: #fff;
    }
    
    100% {
        color: #0E0F0F1a;
    }
}
  
  
  /* for text */
  @keyframes scale-in-out {
      0% {
          transform: scale(1.05);
    }
  
    50% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.05);
    }
  }
  
  
 
  
  
  
  
  
  
  @media screen and (max-width: 1200px) {
  
    .spinner {
        width: 180px;
      height: 180px;
      font-size: 23px;
    }
  
    .spinner-sector {
      border: 6px solid transparent;
    }
  }
  
  
  @media screen and (max-width: 900px) {
  
    .spinner {
      width: 150px;
      height: 150px;
      font-size: 20px;
    }
  
    .spinner-sector {
      border: 5px solid transparent;
    }
  }
  
  
  @media screen and (max-width: 600px) {
  
    .spinner {
      width: 120px;
      height: 120px;
      font-size: 17px;
    }
  
    .spinner-sector {
      border: 4px solid transparent;
    }
  }
  
  
  
  @media screen and (max-width: 425px) {
  
    .spinner {
      width: 110px;
      height: 110px;
      font-size: 16px;
    }
  
    .spinner-sector {
      border: 3px solid transparent;
    }
  }